body {
  background-color: lightgray;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
}

.container h3 {
  /* text-align: center; */
  margin: 50px;
}

#centeredContent {
  margin: 0 auto;
  padding: 20px;
  width: 960px;
  background-color: white;
}

.errorMessage {
  font-weight: bold;
  background-color: yellow;
  color: red;
}

.container .card-title {
  margin: 5px;
}

.container .card-text {
  font-size: 15px !important;
}

#flashMessage {
  background-color: chartreuse;
  width: auto;
}

/* .alert {
  background-color: chartreuse;
  width: auto;
} */

body {
  background: #ddd;
  /* padding-top: 80px; */
}
.form-control-borderless {
  border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

/*--- Header ---*/

#menu .navbar {
  padding: 0;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

#menu .container ul li a {
  display: block;
  height: 80px;
  line-height: 80px;
  font-size: 18px;
  padding: 0 30px;
  color: #353535;
}

#menu .container ul li a:hover {
  color: #fff;
  background-color: #b99a78;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.navitem span + a {
  display: inline;
}
