body {
  background-color: lightgray;
  margin: 0;
  padding: 0;
}

.container h3 {
  /* text-align: center; */
  margin: 50px;
}

#centeredContent {
  margin: 0 auto;
  padding: 20px;
  width: 960px;
  background-color: white;
}

.errorMessage {
  font-weight: bold;
  background-color: yellow;
  color: red;
}
.card {
  height: 700px;
}
.container .card-title {
  margin: 5px;
}

.container .card-text {
  font-size: 15px !important;
}
