{% extends "admin/master.html.twig" %}

{% block content %}

	{% if error %}
		<div>{{ error }}</div>
	{% endif %}

	<h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Welcome To Admin Panel</h3>

	<form method="post">

		<!-- Username input -->
		<div class="form-outline mb-4">
			<label class="form-label" for="form1Example1">Admin name</label>
			<input type="text" id="form1Example1" class="form-control form-control-lg" name="username" placeholder="admin name"/>					
		</div>

		<!-- Password input -->	
		<div class="form-outline mb-4">
			<label class="form-label" for="form1Example2">Password</label>
			<input type="password" id="form1Example2" class="form-control form-control-lg" name="password" placeholder="password"/>
								
		</div>

		<!-- 2 column grid layout for inline styling -->
		<div class="row mb-4">
			<div
				class="col d-flex justify-content-center">
				<!-- Checkbox -->
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="form1Example3" checked/>
					<label class="form-check-label" for="form1Example3">
						Remember me
					</label>
				</div>
			</div>

			<div
				class="col">
				<!-- Simple link -->
				<a href="#!">Forgot password?</a>
			</div>
		</div>

		<!-- Submit button -->
		<button type="submit" class="btn btn-primary btn-block">Login</button>
	</form>
{% endblock content %}
