{% extends "admin/master.html.twig" %}

{% block title %}Operation successfully{% endblock %}

{% block content %}
<p>Operation successfully - package deleted</p>
<p><a href="/admin/packages/list">Click here to continue</p>
{% endblock content %}