{% extends "master.html.twig" %}

{% block title %}Operation successfully{% endblock %}

{% block content %}
<p>Operation successfully - Booking Canceled</p>
<p><a href="/">Back to homepage</p>
{% endblock content %}