{% extends "master.html.twig" %}

{% block content %}

	{# <div class="container"> #}
	{# {% if session.user %}
														            <p>Welcome back, {{ session.user.username }}!</p>
														            <a href="/logout">Logout</a>
														        {% else %}
														            <a href="/login">Login</a>
														            <a href="/register">Register</a>
														        {% endif %} #}


    <!-- About US -->
    <section id="about-us" class="bg-dark text-light p-5 pt-lg-5 text-sm-start">
        <div class="container">
            <div class="d-sm-flex align-items-center justify-content-between">
                <div class="p-3">
                    <h1>About Us</h1>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia ab mollitia provident,
                        quibusdam eveniet et, animi, nulla consequuntur deserunt numquam labore. Molestias, maxime?
                        Nihil incidunt quas quaerat eligendi. Sint, commodi.</p>
                    <p class="lead my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel nam rem
                        voluptatibus, soluta numquam vero, tempora aliquam modi dolor repellendus quasi, doloremque
                        quas. Fugit aperiam, impedit reiciendis fugiat iste sapiente.</p>
					
                </div>
                <img class="img-fluid w-50 d-none d-sm-block" src="images/About-US/about-us.png" alt="about-us-picture">
            </div>
        </div>
    </section>

    <!-- search bar -->

    <section class="bg-primary text-light p-5">
        <div class="container">
		<div class="d-md-flex justify-content-between align-items-center">
		<p class="h5 font-weight-bold mb-1 mb-md-0">Discover the Amazing Tours You dreamed</p>
			<div class="col-12 col-md-10 col-lg-8">
				{# <p class="h5 font-weight-bold mb-4">Discover the Amazing Tour</p> #}
				<form class="card card-sm" method="post">
					<div class="card-body row no-gutters align-items-center">
						<div class="col-auto">
							<i class="fas fa-search h4 text-body"></i>
						</div>
						<!--end of col-->
						<div class="col">
							<input class="form-control form-control-lg form-control-borderless " placeholder="Search location" name="location" required>
						</div>
						<!--end of col-->
						<div class="col-auto">
							<button class="btn btn-lg btn-success" type="submit">Search</button>
						</div>
						<!--end of col-->
					</div>
				</form>
			</div>
			<!--end of col-->
		</div>
        </div>
    </section>




	<!-- ======= Must-See-Places Section ======= -->
    <section id="must-see-places">
        <div class="container">

            <div class="section-title pl-5 pt-5">
                <h2>Must-See-Places</h2>
                <p  class=" lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident porro eius, tempore,
                    necessitatibus sint, natus atque iste praesentium ad facere voluptates eum suscipit laudantium.
                    Porro, sunt! Quasi explicabo ea itaque.</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-center">

                    <div class="icon-box">
                        <img class="img-fluid pl-3 w-90 d-none d-sm-block" src="images/Must-see attractions/1-1.png"
                            alt="about-us-picture">
                        <p class="pt-3">Voluptatum delenitiatque corrupti quos dolores et quas molestias excepturi</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-center">

                    <div class="icon-box">
                        <img class="img-fluid pl-3 w-90 d-none d-sm-block" src="images/Must-see attractions/1-2.png"
                            alt="about-us-picture">
                        <p class="pt-3">Voluptatum delenitiatque corrupti quos dolores et quas molestias excepturi</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-center">

                    <div class="icon-box">
                        <img class="img-fluid pl-3 w-90 d-none d-sm-block" src="images/Must-see attractions/1-3.png"
                            alt="about-us-picture">
                        <p class="pt-3">Voluptatum delenitiatque corrupti quos dolores et quas molestias excepturi</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                        <img class="img-fluid pl-3 w-90 d-none d-sm-block" src="images/Must-see attractions/1-4.png"
                            alt="about-us-picture">
                        <p class="pt-3 pb-5">Voluptatum delenitiatque corrupti quos dolores et quas molestias excepturi</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                        <img class="img-fluid pl-3 w-90 d-none d-sm-block" src="images/Must-see attractions/1-5.png"
                            alt="about-us-picture">
                        <p class="pt-3 pb-5">Voluptatum delenitiatque corrupti quos dolores et quas molestias excepturi</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                        <img class="img-fluid pl-3 w-90 d-none d-sm-block" src="images/Must-see attractions/1-6.png"
                            alt="about-us-picture">
                        <p class="pt-3 pb-5">Voluptatum delenitiatque corrupti quos dolores et quas molestias excepturi</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Must-See places Section  -->


	 <!-- Our guides section -->
    <section id="our-guides" class="p-5 bg-primary">
        <div class="container">
            <h2 class="text-start text-white">Our Guides</h2>
            <p class="lead text-start text-white mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                nostrum distinctio pariatur quos eum sequi nihil, corporis molestiae temporibus laborum nesciunt aut
                modi rem itaque maiores reiciendis. Obcaecati, quia voluptate.</p>


            <div class="row g-4">
                <div class="col-md-6 col-lg-3">
                    <div class="card bg-light">
                        <div class="card-body text-center">
                            <img src="images/Our guides/1.jpg" class="img-fluid p-4 w-90 d-none d-sm-block"" alt="
                                Our guides-photo">
                            <h3 class="card-title mb-3">Lorem Lorem Lorem Lorem</h3>
                            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam
                                assumenda velit similique vitae facilis nam, qui a vero excepturi, repellat voluptatibus
                                consequuntur cupiditate fugit quod sit. Perferendis dolorem animi provident!</p>
                        </div>



                    </div>


                </div>


                <div class="col-md-6 col-lg-3">
                    <div class="card bg-light">
                        <div class="card-body text-center">
                            <img src="images/Our guides/2.jpg" class="img-fluid p-4 w-90 d-none d-sm-block"" alt="
                                Our guides-photo">
                            <h3 class="card-title mb-3">Lorem Lorem Lorem Lorem</h3>
                            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam
                                assumenda velit similique vitae facilis nam, qui a vero excepturi, repellat voluptatibus
                                consequuntur cupiditate fugit quod sit. Perferendis dolorem animi provident!</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="card bg-light">
                        <div class="card-body text-center">
                            <img src="images/Our guides/3.jpg" class="img-fluid p-4 w-90 d-none d-sm-block"" alt="
                                Our guides-photo">
                            <h3 class="card-title mb-3">Lorem Lorem Lorem Lorem</h3>
                            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam
                                assumenda velit similique vitae facilis nam, qui a vero excepturi, repellat voluptatibus
                                consequuntur cupiditate fugit quod sit. Perferendis dolorem animi provident!</p>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-lg-3">
                    <div class="card bg-light">
                        <div class="card-body text-center">
                            <img src="images/Our guides/4.jpg" class="img-fluid p-4 w-90 d-none d-sm-block"" alt="
                                Our guides">
                            <h3 class="card-title mb-3">Lorem Lorem Lorem Lorem</h3>
                            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam
                                assumenda velit similique vitae facilis nam, qui a vero excepturi, repellat voluptatibus
                                consequuntur cupiditate fugit quod sit. Perferendis dolorem animi provident!</p>
                        </div>
                    </div>
                </div>
                </row>
            </div>
    </section>

    <!-- Contact-Us & Map -->

    <section id="contact-us" class="p-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-md-6">
                    <h2 class="text-center mb-4">Contact Us</h2>
                    <ul class="list-group list-group-flush.lead">
                        <li class="list-group-item">
                            <span class="fw-bold">Address: </span> 5 Vincent d'Indy d'Outremont QC
                        </li>
                        <li class="list-group-item">
                            <span class="fw-bold">Booking Phone: </span> (+1) 438-520-5200
                        </li>
                        <li class="list-group-item">
                            <span class="fw-bold">Booking Email: </span> info@tms.com
                        </li>
                        <li class="list-group-item">
                            <span class="fw-bold">Group Booking Phone: </span> (+1) 438-520-5100
                        </li>
                        <li class="list-group-item">
                            <span class="fw-bold">Group Booking Email: </span> admin@tms.com
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="map ">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2795.9402830217496!2d-73.617193685048!3d45.51128073832258!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc919903cb1cb1f%3A0x155400c68d80ded1!2s5%20Av.%20Vincent-D&#39;Indy%2C%20Outremont%2C%20QC%20H2V%202S7!5e0!3m2!1sfr!2sca!4v1675191704010!5m2!1sfr!2sca"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {# <!-- Footer -->
    <footer class="p-4 bg-dark text-white text-center">
        <div class="container">
            <p class="lead">
                Copyright &copy; 2023 Tourism Management System
            </p>
        </div>
    </footer> #}



	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
{% endblock %}
