{% extends "master.html.twig" %}

{% block content %}

{% if error %}
    <div>{{ error }}</div>
{% endif %}

<h1>Login</h1>
<form method="post">
    <div class="form-group"> 
    Username: <input type="text" name="username" placeholder="Enter your name"><br>
    </div>
    <div class="form-group"> 
    Password: <input type="password" name="password" placeholder="Enter your password"><br>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <p><a href="/register">No account? Register here.</a></p>
</form>
{% endblock content %}