{% extends "master.html.twig" %}

{% block content %}
    
    <div class="container">
    <h3>Tour Packages List</h3>
    <div class="row">
        {% for package in packages %}
        <div class="col-md-3 mb-4">
            <div class="card">
                {% if images[package.id]|length > 0 %}
                {# show only one image for each package #}
                <img src="{{ images[package.id]|slice(0, 1)[0].imageUrl }}" class="card-img-top" />
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ package.name }}</h5>
                    <p class="card-text">{{ package.details }}</p>
                    <a href="/packages/{{package.id}}/book" class="btn btn-primary">Book</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}