{% extends "master.html.twig" %}

{% block title %}Update profile successfully{% endblock %}

{% block content %}
<p>Update profile successfully</p>
<p><a href="/profile">Click here to continue</p>
{% endblock content %}