{% extends "master.html.twig" %}

{% block title %}Update profile{% endblock %}

{% block addHead %}

<!-- prevent to resubmit -->
<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>
{% endblock %}

{% block content %}

<h3>Update user information</h3>

{% if errorList %}
    <ul class="errorMessage"> 
    {% for error in errorList %}
        <li>{{error}}</li>
    {% endfor %}
    </ul>
{% endif %}

<form method="post">
    <div class="form-group"> 
    Username: <input type="text" name="username" value="{{v.username}}" placeholder="Enter your name"><br>
    <span id="usernameTaken" class="errorMessage"></span>
    </div>
    <p>(If you don't want to change the password, you can leave it blank)</p>
    <div class="form-group"> 
    Password: <input type="password" name="password" placeholder="Enter your password"><br>
    </div>
    <div class="form-group"> 
    Password (repeat): <input type="password" name="passwordrepeat" placeholder="Enter your password"><br>
    </div>
    <div class="form-group"> 
    Email: <input type="email" name="email" value="{{v.email}}" placeholder="Enter your email"><br> 
    </div>
    <div class="form-group"> 
    Phone number: <input type="text" name="phoneno" value="{{v.phoneNo}}" placeholder="Enter your phone number">  
    </div> 

    <button type="submit" class="btn btn-primary">Update profile</button>
</form>
{% endblock content %}